<header id="top-header">
  <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <nav id="tools">
      <a href="/account/login" title="Click to log in" aria-label="User Account Login">My Account</a>
      <!-- Additional links can be added here -->
  </nav>
</header>
