<section class="hero-container">
  <div class="overlay"></div>
  <div class="content">
    <h1>Welcome to CSE Motors!</h1>
  </div>
  <button class="hero-button">Own Today</button>
  
  <div class="side-by-side">
    <h3>DMC DeLorean</h3>
    <ul>
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice</li>
    </ul>
    <span>
      <a href="/" title="Action Button">Own Today</a>
    </span>
    
    <picture>
      <source srcset="/images/vehicles/delorean.jpg" type="image/jpg">
      <img src="/images/vehicles/delorean.jpg" alt="Delorean">
    </picture>
  </div>
</section>

<section class="reviews">
  <h2>DMC DeLorean Reviews</h2>
  <ul>
    <li>"So fast it's almost like traveling in time." <span>(4/5)</span></li>
    <li>"Coolest ride on the road" <span>(4/5)</span></li>
    <li>"I'm feeling McFly!" <span>(5/5)</span></li>
    <li>"The most futuristic ride of our day." <span>(4.5/5)</span></li>
    <li>"80's livin and I love it!" <span>(5/5)</span></li>
  </ul>
</section>

<section class="upgrades">
  <h2>Delorean Upgrades</h2>
  <ul>
    <li>
      <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor upgrade" loading="lazy">
      <span>Flux Capacitor</span>
    </li>
    <li>
      <img src="/images/upgrades/flame.jpg" alt="Flame Decals upgrade" loading="lazy">
      <span>Flame Decals</span>
    </li>
    <li>
      <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers upgrade" loading="lazy">
      <span>Bumper Stickers</span>
    </li>
    <li>
      <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps upgrade" loading="lazy">
      <span>Hub Caps</span>
    </li>
  </ul>
</section>
