<section class="hero-container">
  <div class="overlay"></div>
  <div class="content">
      <br>
      <h1>Welcome to CSE motors</h1>
      <p>2024 Audi Q6</p>
  
  </div>
  <button class="hero-button">
      Own Today
  </button>
  </section>
  <div class="side-by-side">
      <section class="audi-performace">
      <div class="specifications-section">
          <h2>Audi Performance</h2>
          <ul>
              <li>EPA-estimated range 249 mi</li>
              <li>DC max charging power 27</li>
              <li>Battery charge time in about 22.5</li>
          </ul>
      </div>
      <img src="images/site/audis.jpg" alt="">
      </section>
      <section class="upgradres-container">
          <h2>Technical specifications</h2>
          <div class="upgradres">
              <div>
                  <iconify-icon icon="mdi:motor" class="icon"></iconify-icon>
                  <a href="">V8 Engine</a>
              </div>
              <div>
                  <iconify-icon icon="material-symbols:speed" class="icon"></iconify-icon>
                  <a href="">Speeds Transmission</a>
              </div>
      
              <div>
                  <iconify-icon icon="simple-icons:turbo" class="icon"></iconify-icon>
                  <a href="">2 Turbos</a>
              </div>
              
              <div>
                  <iconify-icon icon="game-icons:car-wheel" class="icon"></iconify-icon>
                  <a href="">21" Wheels</a>
              </div>
          </div>
      </section>
  </div>