/******* Global Styles and Fonts ***************/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

a {
  color: rgb(248, 245, 245);
}

/******* Header Section ***************/
header {
  display: flex;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  position: absolute;
  z-index: 1;
}

.siteName a {
  font-size: 15px;
  color: white;
}

.account-icon,
.toggle {
  font-size: 30px;
  color: white;
}

nav {
  display: none;
}

nav .menu {
  width: 100%;
  background: rgba(0, 0, 0, 0.895);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 64px;
  right: 0;
}

nav ul li {
  color: white;
  display: block;
  list-style: none;
  padding: 20px 0;
  text-align: center;
}

.userLogged {
  color: white;
  font-size: 20px;
}

/******* Hero Section ***************/
.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
  height: 550px;
  background: url("../images/site/audi.jpg") center / cover no-repeat;
}

.overlay {
  background: linear-gradient(0deg, rgba(134, 212, 255, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content {
  margin-top: 2rem;
  position: relative;
  color: white;
  text-align: center;
}

.hero-button {
  background-color: rgba(0, 0, 0, 0.55);
  height: 50px;
  width: 50%;
  margin: 20px auto 5rem;
  padding: 8px 20px;
  color: white;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 10px;
}

.hero-button:hover {
  background-color: #c03333;
}

/******* Upgrades Section ***************/
.upgrades {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.upgrades ul {
  display: contents;
}

.upgrades li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upgrades img {
  width: 100%;
  max-width: 100px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .upgrades {
    grid-template-columns: 1fr;
  }
}

/******* Vehicle Display Section ***************/
#vehicle-display {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.vehicle-info {
  flex: 1 1 200px;
  min-width: 200px;
  max-width: 300px;
}

#vehicle-display picture,
#vehicle-display img {
  flex: 1 1 200px;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
}

/******* Specifications Section ***************/
.specifications-section {
  padding: 20px 30px;
  text-align: center;
}

.specifications-section h2 {
  font-size: 25px;
  margin-bottom: 1rem;
  color: #c03333;
}

img {
  width: 100%;
}

/******* Footer ***************/
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 10px;
}

footer a {
  color: white;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
}

/******* Login Section ***************/
#form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#login-form,
#password-form {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#login-form label,
#login-form input,
#password-form label,
#password-form input {
  display: block;
  width: 100%;
}

#login-form input,
#password-form input {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #eeeeee;
  border: 1px solid #d4d4d4;
}

#login-form button,
#password-form button {
  width: 100%;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0;
  background-color: #c03333;
  color: white;
  border: none;
}

#login-form button:hover,
#password-form button:hover {
  background-color: white;
  color: #c03333;
  border: 1px solid #c03333;
}


.login-mainHeading {
  padding-top: 50px;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 800;
  text-shadow: 2px 0px 7px #fff;
}
